.DS_Store
# Jekyll output
docs/_site/
.jekyll-cache/
.sass-cache/
# Local junk
**/.ipynb_checkpoints/
# Ignore notebooks (they can be regenerated)
*.ipynb
.ipython
.jupyter
.local
.cache
__pycache__
vendor
